body {
  background-color: rgb(48, 43, 53);
  display: grid;
  grid-template-rows: 150px auto 80px;
  grid-template-columns: 1450px auto;
  grid-gap: 0;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  color: white;
  grid-area: header;
  text-align: center;
  background-color: rgb(31, 27, 34);
}

ul { 
  display: inline;
  list-style-type: none;  
  padding: 0px;
  overflow: hidden;
  background-color: #333333;
}

li {
  width: 200px;  
  background-color: rgb(56, 50, 61);
  padding: 16px 0px 16px 0px;
  float: left; 
}
.first li{
    border-bottom-left-radius: 100px;
}
.last li{
    border-bottom-right-radius:100px;
}
.first li:hover{
  border-bottom-left-radius: 0px;
}
.last li:hover{
  border-bottom-right-radius:0px;
}
li a {
  width: 200px;
  color: white;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

li ul {
  display: none;

}
.submenu li {
  clear: both;
}
nav{
    position: absolute;
    margin-left:31%;   
}
main {
  padding-top: 100px;
  grid-area: main;
  max-width: 800px;
  margin: auto;
}
img{
  width: 80px;
}
#follen{
  padding-top: 30px;
  width: 800px;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}

/*CALCULADORA*/
.calculadora{
  width: 150px;
  height: 140px;
}
.numero{
  background-color:rgba(135, 135, 135, 0.5);
}
.operando{
  background-color: rgb(83, 80, 80);
}
#calculadora{
  text-align:  left;
   width: 100%;;
  width: 150px;
  height: 140px;
}
#calculadora{    
  width: 100%;
  background-color: rgba(135, 135, 135, 0.5);
  
}
#calculadora #id_botonres{
  width: 100%;
}
#calculadora #id_botons{
  height: 50px;
}
.return li{
  margin-left: 100%;
  border-bottom-right-radius:100px;
  border-bottom-left-radius: 100px;
}