*{
    box-sizing: border-box;
}
body{
    
    width: 100%;
    margin: auto;
    border-style: solid;
    text-align: center;
}
.container {
    border: 1px solid black;
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "logo home title"
    "nav nav nav"
    "main main main";
}
.logo{grid-area:logo;
    border: 1px solid black;
    }
.home{grid-area:home;
    border: 1px solid black;
    }
.title{grid-area:title;
    border: 1px solid black;
    }
nav{
    border: 1px solid black;
    grid-area:nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu1 menu2 menu3 menu4 menu5 search";
}
.menu1{grid-area:menu1;}
.menu2{grid-area:menu2;}
.menu3{grid-area:menu3;}
.menu4{grid-area:menu4;}
.menu5{grid-area:menu5;}
nav>div{
    border: 1px solid black;
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.search{grid-area: search;
    margin-left: 30px;
border: none;}
main{grid-area:main;}
article{
    margin: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px  1fr 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    "title dct img";
}
.titulo{grid-area:title;
    border: 1px solid black;
}
p{grid-area:dct;
    border: 1px solid black;
}
img{grid-area: img;
    width: 100%;
    border: 1px solid black;
}