*{
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    margin: auto;
    border-style: solid;
    text-align: center;
}
.container {    
    width: 100%;
    border: 1px solid black;
    display: grid;    
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px auto 350px auto;
    grid-template-areas:
    "logo home title"
    "nav nav nav"
    "aside main main"
    "cm cm cm";
}
.logo{grid-area:logo;
    border: 1px solid black;
    }
.home{grid-area:home;
    border: 1px solid black;
    }
.title{grid-area:title;
    border: 1px solid black;
    }
nav{
    border: 1px solid black;
    grid-area:nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu1 menu2 menu3 menu4 menu5 search";
}
.menu1{grid-area:menu1;}
.menu2{grid-area:menu2;}
.menu3{grid-area:menu3;}
.menu4{grid-area:menu4;}
.menu5{grid-area:menu5;}
nav>div{
    border: 1px solid black;
    margin: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.search{grid-area: search;
    margin-left: 30px;
border: none;}
main{grid-area:main;
    border-style: solid;
}
aside{
    grid-area: aside;
    border-style: solid;
}
.coment{
    grid-area:cm;
    text-align: left;
}