body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    flex-wrap: wrap;
}
header{
    justify-content: center;
    border: 1px black solid;
    flex: 1 1 50%;
}
nav{
    border: 1px black solid;
    flex: 1 1 50%;


    
}