
body{
    width: 900px;
    margin: auto;
}
header{
    border-style: solid;
    border-color: yellow;   
    border-radius: 10px;
    background-color: bisque;
}
nav{
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    background-color: bisque;
    width: auto;
    
}
aside{
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    background-color: violet;
    width: 188px;
    float: left;
}
main aside{
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    background-color: violet;
    width: 19%;
    float: right;
}

main{
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    background-color: greenyellow;
    width: 700px;
    float: right;
    
}
article{
    width: 79%;
    float: left;
    margin: auto;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    background-color: blueviolet;
}
footer{
    border-style: solid;
    border-color: yellow;   
    border-radius: 10px;
    background-color: bisque;
    clear: both;
}